body {
    background-color: #E70924;
    color: #ffffff;
}

a {
    color: black;
    text-decoration: none;
}

#first_div {
    color: yellow;
}

h2 {
    text-align: center;
    font-size: 15px;
}

h2.h2class {
    text-decoration: underline;
    font-size: 25px;
} 
img {
    border: 5px dotted black;
    padding: 25px 10px 25px 10px;
    margin: 200px auto;
    background-color: white;
    display: block;
    border-radius: 50px;
}